<md-grid-list cols="2" rowHeight="2:1">
  <md-grid-tile>
    <md-select placeholder="Local Team" (change)="loadPlayers($event, 1)">
      <md-option *ngFor="let team of teams" [value]="team.code">
        {{ team.name }}
      </md-option>
    </md-select>
  </md-grid-tile>

  <md-grid-tile>
    <md-select placeholder="Away Team" (change)="loadPlayers($event, 2)">
      <md-option *ngFor="let team of teams" [value]="team.code">
        {{ team.name }}
      </md-option>
    </md-select>
  </md-grid-tile>
</md-grid-list>
